/**
 * Quickbooks Module CSS
*/

/**
 * Generic elements to override some 
 * of the table formatting from the 
 * default theme.
 */
 
/*
 tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}
*/



/**** SPLIT ****/



/*
tr.line_item, tr.info {
  background-color: #edf5fa;
}

tr.group_line_item {
  background-color: #fff;
}

tr.line_item td.active {
  background-color: #ddecf5;
}

tr.group_line_item td.active {
  background-color: #e6f1f7;
}

*/





